*{
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
    font-family: Arial, Helvetica, sans-serif;
}
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    top: 57px !important;
    width: 50% !important;
  }
  button:hover{
    opacity: 0.9;
  }
  #dlt{
    position: relative;
    left: 664px;
    top: 140px;
    padding: 20px 20px;
   
  }
  .heading{
    color: #fff;
    background-color: #f45858;
    text-align: center;
    margin: 79px 47px;
    text-decoration: dotted;
    border: 1px solid #000;
  }